.MuiDrawer-paper {
    overflow-y: hidden;
    -ms-overflow-style: none;
}
.MuiDrawer-paper::-webkit-scrollbar {
    display: none;
}


#Cart{

.cartList {
    margin-left: 15px;
    position: absolute;
}

.cartTop {
    font-family: "Roboto", sans-serif;
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 20px;
    background-color: $whiteColor;
    width: 470px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .MuiSvgIcon-root {
        font-size: 30px;
        margin-left: 15px;
    }
}

.tableWrapper {
    padding: 10px;
}

tbody {
    padding-bottom: 90px;
}

.emptyCart {
    position: relative;
    top: 200px;
    left: 200px;
    font-family: "Roboto", sans-serif;
    color: $lightGrey_2;
    display: flex;
    align-items: flex-end;
    span {
        margin-right: 15px;
    }
}

.cartLogo {
    position: relative;
    background-image: url("../../images/boy.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
}

.cartItem {
    border-bottom: 2px solid $lightGrey_1;
}
.cartBottom {
    position: fixed;
    bottom: 0;
    background-color: $whiteColor;
    width: 480px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
    .orderAndLogo{
        display: flex;
        margin-bottom: 10px;
        .bikeLogo2 {
        background-image: url("../../images/bike2.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 35px;
        height: 35px;
    }
    }

    .addBtn {
        width: 120px;
        border-color: $baseGreenColor;
        &:hover {
            background-color: #36eee84d;
        }
    }

        


}

table {
    margin-top: 75px;
}
th {
    color: $lightGrey_2;
}

td {
    margin: 12px 0;
    font-family: "Roboto", sans-serif;
}
th{
    text-align: left;
}
.head1{
    padding-left: 5px;
}
.head2{
    width: 123px;
   padding-left: 10px;
}
th:nth-child(1),
td:nth-child(1) {
    width: 210px;
    height: 55px;
}
// th:nth-child(2),
td:nth-child(2) {
    width: 130px;
    height: 55px;
}
th:nth-child(3),
td:nth-child(3) {
    width: 120px;
    height: 55px;
}

td:nth-child(1) {
    display: flex;
    align-items: center;
    .img {
        width: 55px;
    }
    .orderItemName {
        font-size: 12px;
        margin-left: 15px;
    }
}
.orderItemCount{
    font-size: 15px;
}
.price{
    font-size: 15px;
}

.deleteBtn {
    &:hover {
        color: $errorColor;
    }
}

.cartTotalPrice {
    font-family: "Krona One", sans-serif;
}
.closeCart.MuiSvgIcon-root{
    position: fixed;
    top: 10px;
    width: 35px;
    height: 35px;
    right: 512px;
    z-index: 201;
    padding: 5px;
    
    &:hover{
        color: $whiteColor;
        cursor: pointer;
        background-color: $baseGreenColor;
        border-radius: 50%;
    }
}
}