.PageCart {

.cartList{
    width: 50%;
  height: 50%;
}
    img{
        width: 20px;
    }

    // .cartList {
    //     margin-left: 15px;
    // }

    // .cartTop {
    //     font-family: "Roboto", sans-serif;
    //     position: fixed;
    //     top: 0;
    //     z-index: 200;
    //     padding: 20px;
    //     background-color: $whiteColor;
    //     width: 470px;
    //     text-align: center;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     .MuiSvgIcon-root {
    //         font-size: 30px;
    //         margin-left: 15px;
    //     }
    // }

    // .tableWrapper {
    //     padding: 10px;
    // }

    // tbody {
    //     position: absolute;
    //     padding-bottom: 90px;
    // }

    // .emptyCart {
    //     position: relative;
    //     top: 200px;
    //     left: 200px;
    //     font-family: "Roboto", sans-serif;
    //     color: $lightGrey_2;
    //     display: flex;
    //     align-items: flex-end;
    //     span {
    //         margin-right: 15px;
    //     }
    // }

    // .cartLogo {
    //     position: relative;
    //     background-image: url("../../images/boy.png");
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     width: 40px;
    //     height: 40px;
    // }

    // .cartItem {
    //     border-bottom: 2px solid $lightGrey_1;
    // }
    // .cartBottom {
    //     // position: fixed;
    //     // bottom: 0;
    //     // background-color: $whiteColor;
    //     // width: 480px;
    //     // display: flex;
    //     // justify-content: space-between;
    //     // padding: 20px;

    //     .orderAndLogo {
    //         display: flex;
    //         margin-bottom: 10px;
    //         .bikeLogo2 {
    //             background-image: url("../../images/bike2.png");
    //             background-size: contain;
    //             background-repeat: no-repeat;
    //             width: 35px;
    //             height: 35px;
    //         }
    //     }

    //     .addBtn {
    //         width: 120px;
    //         color: $baseGreenColor;
    //         border-color: $baseGreenColor;
    //         &:hover {
    //             background-color: #36eee84d;
    //         }
    //     }
    // }

    // table {
    //     margin: 75px 0;
    // }
    // th {
    //     color: $lightGrey_2;
    // }

    // td {
    //     margin: 12px 0;
    //     font-family: "Roboto", sans-serif;
    // }

    // th:nth-child(1),
    // td:nth-child(1) {
    //     width: 220px;
    //     height: 55px;
    // }
    // th:nth-child(2),
    // td:nth-child(2) {
    //     width: 120px;
    //     height: 55px;
    // }
    // th:nth-child(3),
    // td:nth-child(3) {
    //     width: 80px;
    //     height: 55px;
    // }

    // td:nth-child(1) {
    //     display: flex;
    //     align-items: center;
    //     .img {
    //         width: 55px;
    //     }
    //     .orderItemName {
    //         font-size: 12px;
    //         margin-left: 15px;
    //     }
    // }

    // .deleteBtn {
    //     &:hover {
    //         color: $errorColor;
    //     }
    // }

    // .cartTotalPrice {
    //     font-family: "Krona One", sans-serif;
    // }
}
