.PasswordValidBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    .fa-times{
        opacity: 0;
    }
    .fa-check{
        opacity: 1;
    }
    p{
        position: relative;
        opacity: .5;
        transition: 0.3s;
        color: $errorColor;
    }

    p .icon{
        position: absolute;
        text-align: center;
        width: 22px;
        height: 24px;
        left: -42px;
    }
}