.progressBar{
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    .brandName{
        font-family: 'Dancing Script', cursive;
        position: fixed;
    top: 0;
    width: 100%;
    }
}