.progressBar {
    position: fixed;
    z-index: 100;
    top: 0px;
    width: 100%;
    .MuiStepper-root{
        padding-top: 55px;
        padding-bottom: 10px;
    }
    .brandName {
        font-family: 'Dancing Script', cursive;
        font-size: 30px;
        position: fixed;
        text-align: center;
        top: 0;
        width: 100%;
        padding-top: 10px;
    }
}
