
.animate-navbar {
    animation: moveDown 0.5s ease-in-out;
}

@keyframes moveDown {
    from {
        transform: translateY(-5rem);
    }

    to {
        transform: translateY(0rem);
    }
}

.brandName {
    width: 100%;
    text-align: center;
    color: $baseGreenColor;
}

.MuiStepper-root {
    padding-top: 55px;
    padding-bottom: 10px;
}

.MuiPaper-root {
    background-color: black;
}

.progressBar {
    position: fixed;
    z-index: 10;
    top: 0px;
    width: 100%;
    .MuiStepper-root {
        padding-top: 55px;
        padding-bottom: 10px;
    }

    .MuiStepIcon-text {
        font-size: 1.2rem !important;
    }
    .MuiStepIcon-root.MuiStepIcon-active {
        color: $baseGreenColor;
    }
    .MuiStepIcon-root.MuiStepIcon-completed {
        color: $baseGreenColor;
    }
    .brandName {
        z-index: 5;
        font-family: "Dancing Script", cursive;
        font-size: 30px;
        position: fixed;
        text-align: center;
        top: 0;
        width: 100%;
        padding-top: 10px;
    }
    .navBar {
        z-index: 6;
        position: fixed;
        top: 12px;
        display: flex;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        padding: 2px;
        a {
            margin-left: 20px;
            color: $lightBlack;
            text-decoration: none;
            &:hover {
                cursor: pointer;
                color: $baseGreenColor;
            }
        }
    }

    .MuiStepLabel-label {
        font-size: 15px;
    }

    .active {
        &:hover {
            cursor: pointer;
            .MuiStepLabel-label {
                color: $baseGreenColor;
            }
        }
    }

    .bikeLogo1 {
        position: fixed;
        right: 100px;
        top: 10px;
        background-image: url("../../images/bike1.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 120px;
        height: 110px;
    }

    .avatar {
        position: fixed;
        right: -60px;
        top: 40px;
        width: 120px;
        height: 110px;
    }
}
