$whiteColor: #fff;
$backgroundGrey: #F6F6F6F6;
$basePinkColor:#d6545f;
$darkPinkColor:#bb4953;
$lightGrey_1:#ebe7e7;
$lightGrey_2:#c0c0c0;
$lightGrey_3:#858383;
$errorColor:#ff4e50;
$successColor:#6ef562;
$lightBlack:#333;


// responsible
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;