
<!DOCTYPE HTML>

  <html class="no-js" lang="en-US">
      <body style="margin: 0px;padding: 0px;font-family: 'Quicksand', sans-serif;">
          <div class="full-area">
          <!--[if lte IE 9]>
              <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
          <![endif]-->
          <!--========================================================================================
                                  Start header area
            =========================================================================================-->
           <table class="tbodyid">
             <tr class="header-area" style=" background: #59A3D1; overflow: hidden; ">
                <td class="header-logo" style="text-align: center; padding: 20px 10px;" align="center">      
                  <img src="https://goodszilla-assets.s3.amazonaws.com/Goodzilla-logo-FINAL-black.png" alt="Goodzilla-logo-FINAL-black" border="0">  
                </td>
              </tr>
              <tr class="wellpageone-heading">
                <td class="page2-well-main-heading well-main-heading" style="text-align: center;display: block;padding-top: 20px;padding-bottom: 5px;">
                  <h4 style="font-size: 14px;font-weight: 500;color: #000;font-family: 'Quicksand', sans-serif;">Thank you for purchasing goods on Goodszilla. <span style="display: block;">Your purchase order is listed below.</span></h4>
                </td>
              </tr>
           </table>
  
            <!--========================================================================================
                                  End header area
            =========================================================================================-->
            <table class="tbodyid">
              <tr>
                <td style="border-bottom: 1px solid #59A3D1; height: 10px;"></td>
              </tr>
            </table>
            <table class="tbodyid">
              <tr class="buyer-information" style="position: relative;">
                <td width="50%" class="buyer-content4 buyer-content" style="padding: 10px 40px;">
                  <p class="under" style="font-size: 13px;font-weight: 400;color: #000;font-family: 'Quicksand', sans-serif;display: block;text-decoration: underline; margin-bottom: 8px">Seller Information</p>
                  <p style="font-size: 13px;font-weight: 400;color: #000;font-family: 'Quicksand', sans-serif;display: block;margin-bottom: 8px;">Seller ${sellerName}</p>
                  <p><a style="opacity: 0;" href="tel:(416)-555-5555">Seller Contact (416)-555-5555</a></p>
                </td>
              </tr>
              <tr>
                <td colspan="2" style="border-bottom: 1px solid #59A3D1; height: 10px;"></td>
              </tr>
           </table>
  
             <!--========================================================================================
                                  Start tv area
            =========================================================================================-->
           <table id="page-padding" class="tbodyid">
              <tr class="tv-header-area">
                <td colspan="2" class="tv-item" style="padding-top: 30px;">
                   <h5 style="font-size: 14px;font-weight: 500;color: #000;font-family: 'Quicksand', sans-serif;display: block;margin-bottom: 10px;">Purchased Item</h5>        
                </td>
              </tr>
              <tr class="tv-single">
                <td class="tv-img" style="width: 21%;">
                  <img style="width: 100%;height: auto;" src="https://mblogthumb-phinf.pstatic.net/MjAxOTAzMDZfMjU4/MDAxNTUxODE0NTI0MzMw.ZyRuiPn0vPmfvpUWjNbjNaLwRwOFLoPRkVBbQx8-cpgg.L6EIuOTK4R8sk0JJVrJEOnOsAeqVHgt57KvWTJOkibEg.JPEG.mong728/%EC%B4%88%EA%B3%A0%ED%99%94%EC%A7%88_%EC%BB%B4%ED%93%A8%ED%84%B0_%EB%B0%B0%EA%B2%BD%ED%99%94%EB%A9%B4_(5).jpg?type=w800" alt="img">
                </td>
                <td class="tv-content" style="display: block;padding-left: 20px;margin-top: 10px;">
                  <span style="font-size: 15px;font-weight: 500;color: #000;font-family: 'Quicksand', sans-serif;display: block;margin-bottom: 10px;">${productName}</span>
                  <p style="font-size: 13px;font-weight: 400;color: #000;font-family: 'Quicksand', sans-serif;display: block;margin-bottom: 16px;">Price: $${productPrice}</p>
  
                   <p style="font-size: 13px;font-weight: 400;color: #000;font-family: 'Quicksand', sans-serif;display: block;margin-bottom: 16px;">Condition: ${productCondition}</p>
  
                  <p style="font-size: 13px;font-weight: 400;color: #000;font-family: 'Quicksand', sans-serif;display: block;margin-bottom: 16px;">Chartiy supported: ${charityName}</p>
  
                    <p style="font-size: 13px;font-weight: 400;color: #000;font-family: 'Quicksand', sans-serif;display: block;margin-bottom: 16px;">Chartiy donation: $${charityDonation}</p>
                </td>
              </tr>
           </table>
       </div>
      </body>
  </html>